@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rcs5se');
  src:  url('../fonts/icomoon.eot?rcs5se#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rcs5se') format('truetype'),
    url('../fonts/icomoon.woff?rcs5se') format('woff'),
    url('../fonts/icomoon.svg?rcs5se#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fork1:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e911";
}
.icon-cheer:before {
  content: "\e901";
}
.icon-chef:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-coffee-cup:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e905";
}
.icon-fork:before {
  content: "\e906";
}
.icon-information:before {
  content: "\e907";
}
.icon-iphone:before {
  content: "\e908";
}
.icon-line:before {
  content: "\e909";
}
.icon-paw:before {
  content: "\e90a";
}
.icon-pin:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-salad:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-tray:before {
  content: "\e90f";
}
.icon-wedding-dinner:before {
  content: "\e910";
}
.icon-food:before {
  content: "\e900";
}
